// 全局样式
* {
  box-sizing: border-box;
  cursor: default;
}

.full {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.auto-height {
  clear: both;
}

.no-scrollbar {
  overflow: hidden;
}

.word-cannot-selected {
  user-select: none;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-center-box {
  display: flex;
  justify-content: center;
}
.v-center-box {
  display: flex;
  align-items: center;
}

// 边框容器
.main-panel-border {
  border: 1px solid #f0f2f9;
}

// 面板内边距
.panel-padding {
  padding: 0 10px 10px 10px;
}

// 面板之间间隙
.content-padding {
  padding-left: 30px;
}

// 上下间隙
.separate-padding {
  padding-bottom: 10px;
}

// 悬浮动画
.float-animation {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.02, 1.02);
  }
}

// 全局样式重构
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c9efe;
}
::-webkit-scrollbar-track {
  background-color: white;
}


@keyframes jello {
	from,
	11.1%,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	22.2% {
		-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}

	33.3% {
		-webkit-transform: skewX(6.25deg) skewY(6.25deg);
		transform: skewX(6.25deg) skewY(6.25deg);
	}

	44.4% {
		-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}

	55.5% {
		-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}

	66.6% {
		-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
		transform: skewX(-0.78125deg) skewY(-0.78125deg);
	}

	77.7% {
		-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
		transform: skewX(0.390625deg) skewY(0.390625deg);
	}

	88.8% {
		-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
	}
}
